{% extends 'blog/base.html' %}
{% block content %}


  <h2>Person Form</h2>
  <form method="post" id="personForm" data-cities-url="{% url 'country:ajax_load_cities' %}" novalidate>
    {% csrf_token %}
    <table>
    	{{ form.as_p }}
    </table>
      
    
    <button type="submit">Save</button>
    <a href="{% url 'country:person_list' %}">Nevermind</a>
  </form>
  <p>Double click me</p>
  <div>
  	
  	<form action="" method="get" accept-charset="utf-8">
<select name="country" id="country">
	
	{% for country in country_list %}
	<option value="{{ country.country}}">{{ country.country }}</option>
	{% endfor %}
</select>
<select name="state" id="state" >
  
</select>
</form>
  </div>
<p><h1><a href="{% url 'country:timeFun' %}">Timer</a></h1></p>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
  $(document).ready(function(){
    $('#country').change(function () {
      var country_name = $(this).val();
      

      console.log(country_name);
      
      
      

    $.ajax({
      
      url : 'getdetails/',
      data:{
        'country' : country_name
      },
      success:function(result){
         $("#state option").remove();
                            for (var i = result.length - 1; i >= 0; i--) {
                                $("#state").append('<option>'+ result[i].name +'</option>');
                            };
      }
    })
    }); 
   });

</script>
<!--<script>

    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_state").html(data);  // replace the contents of the city input with the data that came from the server
        }
        failure: function(data) { 
        alert('Got an error dude');
    }
      });

    });


     '/country/getdetails/',data,type,function(result_set){

        console.log(result);
        $("option#state ").remove();
        for (var i = result.length - 1; i >= 0; i--){
          $("#state").append('<option>'+ result[i].name +'</option>');
        };

                         });







                           $(document).ready(function(){
    $('#country').change(function () {
      var country_name = $(this).val();
      

      console.log(country_name);
      data = {'cnt' : country_name };
      type = "POST"
      console.log(data);

    $.ajax('getdetails/',data,type,function(result_set){
      console.log(result_set);
      
      $('#state').html(result_set);


                         });
    }); 
   });
</script>-->


{% endblock %}