{% load static %}
<html>
    <head>
        <title>Blog app</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5e4b755b2982740012e5f415&product=inline-share-buttons" async="async"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    
    <body>
        <!--header-->
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'blog:post_new'  %}" class="top-menu" ><span class="glyphicon glyphicon-plus"></span></a>
            {% else %}
            <a href="{% url 'blog:login'%}" class="top-menu " >Login</a>
            {% endif %}
            <h1><a href="{% url 'blog:post_list' %}">Blog World</a>
                <a href="{% url 'country:person_list' %}">country</a>
                {% if user.is_authenticated %}
                	<a href="{% url 'blog:myblogs'%}">Myblogs</a>
                	<a href="{% url 'blog:logout'%}">logout</a>
                {% else %}
                	<a href="{% url 'blog:signup'%}">	Signup</a>

                {% endif %}
            </h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8 content middle-block">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>


    <footer style="color: black " >
        <div class="card text-center page-header">
            <div class="card-header ">
                Featured
                </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="{% url 'blog:subscribe'%}" class="btn btn-primary">Subscribe</a>
            
            </div>
            
            </div>    
        </footer>
       <!-- Footer -->

    
</html>